.goods_list li .a1:hover {
    background-color: #808E95;
}

.goods_list li .a2:hover {
    background-color: #F5A200;
}

.goods_list li .a3:hover {
    background-color: #0075C2;
}

.goods_list li .a4:hover {
    background-color: #00AFEC;
}

.goods_list li .a5:hover {
    background-color: #ED6D0F;
}

.goods_list li .a6:hover {
    background-color: #B01E32;
}

.goods_list li .a7:hover {
    background-color: #FDD000;
}

.goods_list li .a8:hover {
    background-color: #2E77CE;
}

.goods_list li .a9:hover {
    background-color: #51C4A6;
}

.goods_list li .a10:hover {
    background-color: #1B944B;
}

.goods_list li .a11:hover {
    background-color: #BC121A;
}

.goods_list li .a12:hover {
    background-color: #F6AB00;
}
