<ul class="goods_list">

    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150408184929.jpg" width="426" height="270" alt="东风南方集团">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/dfnf.html" class="link a1">
            <b></b>
            <span>
                <strong style="">东风南方集团<br>
                </strong>
                世界汽车价值链第一服务品牌</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331155310.jpg" width="426" height="270" alt="金众地产集团">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/jinzhong.html" class="link a2">
            <b></b>
            <span>
                <strong style="">金众地产集团<br>
                </strong>
                地产开发企业综合实力百强企业</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331160856.jpg" width="426" height="270" alt="山东海洋投资集团">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/sdhaiyang.html" class="link a3">
            <b></b>
            <span>
                <strong style="">山东海洋投资集团<br>
                </strong>
                中国首家以海洋经济为重点投资的大型国有企业</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331172145.jpg" width="426" height="270" alt="亚太卫星APSTAR">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/apstar.html" class="link a4">
            <b></b>
            <span>
                <strong style="">亚太卫星APSTAR<br>
                </strong>
                五颗在轨卫星，覆盖世界上75%的人口区域。</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331164750.jpg" width="426" height="270" alt="国民技术">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/guominjishu.html" class="link a5">
            <b></b>
            <span>
                <strong style="">国民技术<br>
                </strong>
                IC设计业第一股</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150407144548.jpg" width="426" height="270" alt="深圳建工集团">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/jiangong.html" class="link a6">
            <b></b>
            <span>
                <strong style="">深圳建工集团<br>
                </strong>
                百亿级业绩企业之深圳崛起</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331171227.jpg" width="426" height="270" alt="德富择AAMS投资">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/defuze.html" class="link a7">
            <b></b>
            <span>
                <strong style="">德富择AAMS投资<br>
                </strong>
                企业收购兼并、重组上市与证券投资</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331172512.jpg" width="426" height="270" alt="中国海外投资年会">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/haiwai.html" class="link a8">
            <b></b>
            <span>
                <strong style="">中国海外投资年会<br>
                </strong>
                探索未来海外经济新格局</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331182134.jpg" width="426" height="270" alt="KB键桥通讯">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/kbqianqiao.html" class="link a9">
            <b></b>
            <span>
                <strong style="">KB键桥通讯<br>
                </strong>
                专网通讯技术解决方案领导者</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150405154302.jpg" width="426" height="270" alt="中国越南经济贸易合作区">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/vcet.html" class="link a10">
            <b></b>
            <span>
                <strong style="">中国越南经济贸易合作区<br>
                </strong>
                国家级境外经济合作区</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331175123.jpg" width="426" height="270" alt="鸿海期货">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/hhqihuo.html" class="link a11">
            <b></b>
            <span>
                <strong style="">鸿海期货<br>
                </strong>
                打造期货经纪第一品牌</span>
        </a>
    </li>
    <li style="overflow: hidden; height: 269px">
        <div class="pic">
            <img src="/Images/Uploads/20150331175611.jpg" width="426" height="270" alt="国创新能源">
            <div class="intro">
                <div class="details" style="display: none">
                    <p class="main_det"></p>
                    <p class="sub_det"></p>
                </div>
            </div>
        </div>
        <a href="http://sz4a.cn/prj/gcxny.html" class="link a12">
            <b></b>
            <span>
                <strong style="">国创新能源<br>
                </strong>
                能源创新·助力世界产业升级</span>
        </a>
    </li>
</ul>
