
<div class="box4">
<div class="box5">
<ul>
<li>SOME</li> 
<li>CUSTOMERS</li>
<li style="font-size:30px">部分客户</li>
</ul>
</div>
<div class="box6" style="width:945px; font-size:15px; line-height:35px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td valign="top" width="115">
				中国网通<br>
				中国木业<br>
				中兴通讯<br>
				TCL集团<br>
				三金药业<br>
				香港科浪</td>
			<td valign="top" width="115">
				中国惠普<br>
				中国石油<br>
				中国五矿<br>
				安莉芳集团<br>
				东风集团<br>
				中粮集团</td>
			<td valign="top" width="140">
				TCL移动通信<br>
				鹿山新材料<br>
				日本艾礼富<br>
				盈诺德信息技术<br>
				德维森科技<br>
				怡丰科技</td>
			<td valign="top" width="150">
				国民技术股份<br>
				键桥通讯<br>
				美国安维安防集团<br>
				深信服科技<br>
				化讯应用材料<br>
				龙澄高科</td>
			<td valign="top" width="155">
				深圳新世界<br>
				山东海洋投资<br>
				深圳佳兆业集团<br>
				中国海外投资年会<br>
				深圳绿景集团<br>
				文汇地产</td>
			<td valign="top" width="130">
				立业集团<br>
				深圳金众集团<br>
				深圳建工集团<br>
				东风置业集团<br>
				华伴里集团<br>
				鸿海期货</td>
			<td valign="top">
				哈工大深研院<br>
				中山岐江旅游<br>
				中国建筑<br>
				美国新美亚<br>
				亚太卫星<br>
				华林证券</td>
		</tr>
	</tbody>
</table>

</div>
<div class="clear"></div>
</div>