<div class="tjal1">
    <a href="/Home/Project">
        <img src="/Content/themes/base/images/tjal.png" width="426" height="157"></a>
</div>
<div class="tjal1">
    <a href="/Home/Industry">
        <img src="/Content/themes/base/images/hyfl.png" width="426" height="157"></a>
</div>
<div class="tjal1">
    <a href="/Home/Profession">
        <img src="/Content/themes/base/images/zyfl.png" width="426" height="157"></a>
</div>
