@{
    ViewBag.Title = "About";
}

<div id="Box" style="font-size:16px; color:#000000; line-height:25px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="1280">
	<tbody>
		<tr>
			<td>
				<img src="/Images/Uploads/20150719.jpg" style="width: 1280px; height: 485px;">
				<p class="about_title">
					ABOUT US</p>
				<p class="about_content">
					联合创智成立于2005年，至今已发展成为中国充满活力、备受尊重的知名品牌设计公司。专注为客户创造和管理品牌，提供从品牌战略、品牌设计（包括品牌vi设计、环境空间导示设计、包装设计、网络设计与推广）到内部品牌导入、品牌管理与执行，以提升客户在海内外的品牌影响力。十年一日，矢志不渝地坚持以“打造国际一流的品牌设计机构”为企业目标，使其成为中国品牌首屈一指的本土品牌设计机构。</p>
				<img src="/Images/Uploads/about_pic1.png">
				<p class="about_title">
					OUR TEAM</p>
				<p style="font-size:36px; margin-top:45px;">
					我们不推崇个人英雄！</p>
				<p style="margin-top:25PX;">
					我们崇尚团队力量，以团队的联合协作结晶个人智慧，创造出高于常规加法的价值。</p>
				<p style="margin-top:30PX; line-height:35PX;">
					UCI团队基础是尊重每一位成员，包括个体价值、兴趣和成就等等...<br>
					我们的团队核心是协同合作，民主团结。我们并不要求团队成员以牺牲自我来表现所谓的团队精神，相反，我们更提倡在统一的目标和明确的分工中，挥洒个性，发挥特长，各尽其责，各显其能。让全体成员的向心力、凝聚力趋向一个理想的绝对值接近，虽然达不到，但我们坚信会越来越近。<br>
					我们的团队灵魂一个字——爱。爱既是家。家是灵魂的栖息地。我们主张专注热情的工作，让每一位成员高效充实；我们提倡团结互助的美德，让爱不再是嘴上的光环；我们鼓励自由洒脱、环保低碳的健康生活；我们会在空闲时光一起享受美妙的音乐，再品上一杯咖啡，或者一杯茶……</p>
			    <p align="center" style="margin-top:80px;">
                    @*TODO: 暂时不需要图片*@
					@*<img src="/Images/Uploads/02.jpg" style="width: 1280px; height: 1337px;"></p>*@
				<p class="about_line" style="margin-top:75px; margin-bottom:75px;">
					&nbsp;</p>
				<p style="font-size:36px;">
					客户为什么选联合创智?</p>
				<table border="0" cellpadding="0" cellspacing="0" style="margin-top:45px; line-height:40px;" width="100%">
					<tbody>
						<tr>
							<td width="135">
								<b>[ 团队稳定 ]</b></td>
							<td style="color:#595757">
								联合创智十年如一日的“创造一流作品”，优势归根结底持续拥有了一批有共同愿景的专业人才，团队的成熟与稳定构建了联合创智核心优势。</td>
						</tr>
						<tr>
							<td>
								<b>[ 客户稳定 ]</b></td>
							<td style="color:#595757">
								联合创智的高效和优质服务，粘合了一批长期稳定的合作客户，也正因为这批客户，造就了联合创智的团队稳定及出品的保障。</td>
						</tr>
						<tr>
							<td valign="top">
								<b>[ 团队配置 ]</b></td>
							<td style="color:#595757">
								中国与欧美发达国家的典型区别是，设计行业从业年龄低龄化，但联合创智集结了实力与创新的有为之士，相对行业团队年龄和经验趋于成熟，拥有一个汇聚拥有资深行业经验的营销、设计、咨询精英组成的优秀团队。</td>
						</tr>
						<tr>
							<td>
								<b>[ 细分市场 ]</b></td>
							<td style="color:#595757">
								联合创智细分行业、深入行业，贴近市场，以品牌营销策略为基础，制定更精准的品牌形象策略，让你的品牌形象更符合市场需求，更能打动消费者。</td>
						</tr>
						<tr>
							<td valign="top">
								<b>[ 与时俱进 ]</b></td>
							<td style="color:#595757">
								在这个快速迭代、瞬息万变的10倍速时代，联合创智与时俱进，深刻洞察80，90，00的消费趋势与热点关注的同时，利用大数据应用及新媒体，使品牌与产品在高速提升中保持自我格调。创造与激活品牌与产品的粉丝经济，将产品与品牌营销并行推动。联合创智团队的先人一步，在为客户服务时远远超越企业预期。</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
</div>