@section featured {
    <div id="Box" style="font-size: 16px; color: #000000; line-height: 25px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="1280">
            <tbody>
                <tr>
                    <td>
                        <img height="294" src="/Content/image/ptn_banner.png" style="margin-bottom: 100px;" width="1279">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 1px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div align="left" style="width: 306px; line-height: 10px;">
                                                            <div style="">
                                                                <img src="/Content/image/ptn1_01.png">
                                                            </div>
                                                            <div id="f1" style="height: 67px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f1b" style="border-top-width: 1px;" valign="top" width="258">中国网通<br>
                                        中粮集团<br>
                                        三金药业<br>
                                        安维安防<br>
                                        通茂控股<br>
                                        中国木业</td>
                                    <td class="ptn_line" style="border-top-width: 1px;" valign="top" width="235">中国农业银行<br>
                                        东风集团<br>
                                        金太阳软件<br>
                                        赤湾石油基地<br>
                                        中国石油<br>
                                        键桥通讯</td>
                                    <td class="ptn_line" style="border-top-width: 1px;" valign="top" width="245">香港科浪<br>
                                        美国联合技术<br>
                                        中兴通讯<br>
                                        招商局<br>
                                        小肥羊<br>
                                        美国普罗泰克</td>
                                    <td class="ptn_line" style="border-top-width: 1px;" valign="top">中国五矿<br>
                                        TCL集团<br>
                                        同洲电子<br>
                                        国民技术<br>
                                        中国南山集团<br>
                                        安莉芳集团</td>
                                </tr>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div style="width: 306px; line-height: 10px;">
                                                            <div style="">
                                                                <img src="/Content/image/ptn2_01.png">
                                                            </div>
                                                            <div id="f2" style="height: 154px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f2b" style="border-top-width: 0px;" valign="top" width="258">立业集团<br>
                                        深圳新世界<br>
                                        广弘集团<br>
                                        鸿隆地产<br>
                                        深圳金众集团<br>
                                        深圳佳兆业集团<br>
                                        中洲集团<br>
                                        东风置业集团<br>
                                        香港利家安金融集团</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="235">香港科浪国际集团<br>
                                        富晋集团<br>
                                        山东公路建设集团<br>
                                        山东高速集团<br>
                                        深圳建工集团<br>
                                        深圳华海集团<br>
                                        深圳绿景集团<br>
                                        三金药业集团<br>
                                        湖南泉大集团</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="245">湘潭华大市政<br>
                                        贵州中水建设<br>
                                        中石油塔里木管道<br>
                                        海南焕华<br>
                                        金桥瑞和装饰<br>
                                        深圳达志成贸易<br>
                                        深圳东芝林实业<br>
                                        全运通物流<br>
                                        宝湾国际物流</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top">广东兆琪集团<br>
                                        河南博地集团<br>
                                        雅茗集團<br>
                                        金鹰车轨集团<br>
                                        远鹏装饰<br>
                                        集远物流<br>
                                        中东贸易</td>
                                </tr>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div style="width: 306px; line-height: 10px;">
                                                            <div style="background-color: #7d7d7d;">
                                                                <img src="/Content/image/ptn3_01.png">
                                                            </div>
                                                            <div id="f3" style="height: 91px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f3b" style="border-top-width: 0px;" valign="top" width="258">山东海洋投资<br>
                                        中国海外投资年会<br>
                                        立信基金<br>
                                        鼎诺投资<br>
                                        鸿海期货<br>
                                        新同方投资<br>
                                        创东方投资</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="235">财富共赢<br>
                                        中联财富<br>
                                        证大速贷<br>
                                        德富泽投资<br>
                                        国泰安<br>
                                        利通控股<br>
                                        中民保险</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="245">安卓信投资<br>
                                        红桥投资<br>
                                        德福择投资<br>
                                        德信创业投资<br>
                                        银雁金融配套服务<br>
                                        盈诺德咨询管理<br>
                                        国浩土地产</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top">中国国际健康城投资<br>
                                        深圳市鼎弘基投资<br>
                                        泰安投资咨询<br>
                                        江西博派投资控股<br>
                                        国泰安金融数据信息<br>
                                        金融联</td>
                                </tr>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div style="width: 306px; line-height: 10px;">
                                                            <div style="">
                                                                <img src="/Content/image/ptn4_01.png">
                                                            </div>
                                                            <div id="f4" style="height: 370px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f4b" style="border-top-width: 0px;" valign="top" width="258">TCL移动通信<br>
                                        国民技术股份<br>
                                        德维森科技（深圳）<br>
                                        广盛科技（约旦）<br>
                                        日本艾礼富<br>
                                        安氏互联网安全系统(中国)<br>
                                        INN易路达科技（香港）<br>
                                        莱加数码科技(香港)<br>
                                        听慧宝科技<br>
                                        湘钢梅塞尔<br>
                                        仁伟安保<br>
                                        盾密机械产品<br>
                                        襄樊金鹰轨道车辆<br>
                                        中科电气<br>
                                        生源生物医药</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="235">星辰科技<br>
                                        加众电子<br>
                                        佛瑞德工业<br>
                                        普罗太克科技<br>
                                        特嘉商业<br>
                                        博泰生物<br>
                                        新飞扬网络技术<br>
                                        天择科技<br>
                                        正耀科技<br>
                                        西数科技<br>
                                        芯虹科技<br>
                                        商德电子<br>
                                        有方科技<br>
                                        吉之荣科技<br>
                                        安保科技</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="245">斯伦斯科技<br>
                                        网赢科技<br>
                                        喜德盛自行车<br>
                                        威利佳模具<br>
                                        杉亚电子<br>
                                        商德电子<br>
                                        风百胜风机<br>
                                        乐维手机<br>
                                        鼎泰诚和科技<br>
                                        驰创电子<br>
                                        倍特力电池<br>
                                        优卡网络设备<br>
                                        万全电子<br>
                                        长实电器<br>
                                        汉歌实业</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top">金骏玮资源综合开发<br>
                                        中安保保安服务<br>
                                        深信服科技<br>
                                        鹿山新材料<br>
                                        化讯应用材料<br>
                                        全星科技<br>
                                        怡丰科技<br>
                                        龙澄高科<br>
                                        健康鼠科技<br>
                                        金威源科技<br>
                                        博仕得科技<br>
                                        骏泰阳软件<br>
                                        富晋天维通讯技术<br>
                                        网能达电力计量<br>
                                        北京博旺科技</td>
                                </tr>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div style="width: 306px; line-height: 10px;">
                                                            <div style="">
                                                                <img src="/Content/image/ptn5_01.png">
                                                            </div>
                                                            <div id="f5" style="height: 102px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f5b" style="border-top-width: 0px;" valign="top" width="258">恒安兴酒店布草<br>
                                        台湾仁美拉链<br>
                                        天朗佳纺<br>
                                        义乌曼姿袜业<br>
                                        中国虎服饰<br>
                                        泸州华裕床垫<br>
                                        吉水皮革制品<br>
                                        柯雷斯诺服饰</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="235">苏贝比婴童用品<br>
                                        七彩人生家具<br>
                                        品行鞋<br>
                                        神秘身份时装<br>
                                        子悦星时装<br>
                                        安莉芳集团<br>
                                        昱璟时装<br>
                                        卡蒂沙格时装</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="245">经典故事时装<br>
                                        顺轩家具<br>
                                        罗浮宫国际家具博览中心<br>
                                        威格玛门窗<br>
                                        亲亲童坊母婴用品<br>
                                        Eurl Hygienix保洁用品<br>
                                        夏洛特伦敦女鞋<br>
                                        富尼德科技家具</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top">欢乐国音乐玩具<br>
                                        新主题内衣<br>
                                        雅兰<br>
                                        惠雅丽国际美容会所<br>
                                        汕头平方米建材<br>
                                        可可服饰</td>
                                </tr>
                                <tr>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="403">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" width="306">
                                                        <div style="width: 306px; line-height: 10px;">
                                                            <div style="background-color: #7d7d7d;">
                                                                <img src="/Content/image/ptn6_01.png">
                                                            </div>
                                                            <div id="f6" style="height: 25px; background-color: rgb(125, 125, 125);">
                                                                &nbsp;
                                                            </div>
                                                            <div>
                                                                <img src="/Content/image/ptn_bian.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="ptn_line" id="f6b" style="border-top-width: 0px;" valign="top" width="258">哈工大深圳研究院<br>
                                        中山岐江旅游有限公司<br>
                                        深圳博士后工作站<br>
                                        深圳市雷奥城市规划<br>
                                        lucky handicrafts company</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="235">深美国际学校<br>
                                        奇游网络游戏国际<br>
                                        Daka Designs Ltd.<br>
                                        山东日照市人民政府<br>
                                        湖南智慧树幼儿园</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top" width="245">湖南北外培训学校<br>
                                        高山会有机农庄<br>
                                        国际健康城<br>
                                        深圳华夏医院<br>
                                        深圳招商国际旅游</td>
                                    <td class="ptn_line" style="border-top-width: 0px;" valign="top">深圳港龙舞蹈<br>
                                        芙浪特艺术中心<br>
                                        泰安康复医院<br>
                                        蕾奥城市规划<br>
                                        克明面业</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}