@Styles.Render("~/Content/kinMaxShow")
@{
    ViewBag.Title = "硕美传媒";
}
@section featured {

    <style type="text/css">
        /*添加滑动背景颜色*/
        .goods_list li .a1:hover {
            background-color: #808E95;
        }

        .goods_list li .a2:hover {
            background-color: #F5A200;
        }

        .goods_list li .a3:hover {
            background-color: #0075C2;
        }

        .goods_list li .a4:hover {
            background-color: #00AFEC;
        }

        .goods_list li .a5:hover {
            background-color: #ED6D0F;
        }

        .goods_list li .a6:hover {
            background-color: #B01E32;
        }

        .goods_list li .a7:hover {
            background-color: #FDD000;
        }

        .goods_list li .a8:hover {
            background-color: #2E77CE;
        }

        .goods_list li .a9:hover {
            background-color: #51C4A6;
        }

        .goods_list li .a10:hover {
            background-color: #1B944B;
        }

        .goods_list li .a11:hover {
            background-color: #BC121A;
        }

        .goods_list li .a12:hover {
            background-color: #F6AB00;
        }
    </style>

    <div style="position: relative; width: 1280px;">
        <div id="kinMaxShow" style="width: 100%; height: 533px; position: relative; overflow: visible; visibility: visible; display: block;">
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122054.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122121.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122144.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122215.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122248.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122331.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417114930.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150330185548.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122406.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122501.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122528.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122556.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122643.jpg" /></div>
            <div class="KMSPrefix_kinMaxShow_image_item">
                <img src="/Images/Uploads/20150417122620.jpg" /></div>
        </div>
    </div>

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
