@Styles.Render("~/Content/kinMaxShow")
@section featured {
    <div id="Box">
        <div style="position: relative; width: 1280px;">
            <div id="kinMaxShow2" style="width: 100%; height: 294px; position: relative; overflow: visible; visibility: visible; display: block;">
                <div class="KMSPrefix_kinMaxShow_image_item">
                    <img src="/Images/Uploads/20150417193915.jpg" />
                </div>
                <div class="KMSPrefix_kinMaxShow_image_item">
                    <img src="/Images/Uploads/20150417193956.jpg" />
                </div>
            </div>
        </div>
        @Html.Partial("ProjectBanner")
        <div class="clear"></div>

        <div class="hyfl">
            <ul>
                <li><a href="http://sz4a.cn/jituan.html" class="hover">集团 地产 工程  </a></li>
                <li><a href="http://sz4a.cn/touzi.html" class="">投资 理财 金融</a></li>
                <li><a href="http://sz4a.cn/keji.html" class="">科技 制造 电子</a></li>
                <li><a href="http://sz4a.cn/hotel.html" class="">酒店 餐饮 家具</a></li>
                <li><a href="http://sz4a.cn/shishang.html" class="">时尚 健康 快消</a></li>
                <li><a href="http://sz4a.cn/wenhua.html" class="">文化 教育 政府</a></li>
            </ul>
        </div>
        <div class="hyfl2" style="" id="t1">
            <div class="border" style="bottom: -69px;">
                <a href="http://sz4a.cn/prj/dfnf.html">
                    <img src="/Images/Uploads/20150408192128.jpg" width="1280" height="391" alt="东风南方集团"></a>
            </div>
            <div class="png" style="font-size: 16px; height: 50px; bottom: -69px; background: rgb(128, 142, 149);"><span style="line-height: 50px; height: 50px;">东风南方集团，世界汽车价值链第一服务品牌。</span></div>
        </div>
        <div class="hyfl2" style="" id="t2">
            <div class="border" style="bottom: -69px;">
                <a href="http://sz4a.cn/prj/jinzhong.html">
                    <img src="/Images/Uploads/20150408193517.jpg" width="1280" height="391" alt="金众地产集团"></a>
            </div>
            <div class="png" style="font-size: 16px; height: 50px; bottom: -69px; background: rgb(245, 162, 0);"><span style="line-height: 50px; height: 50px;">金众地产 - 地产开发企业综合实力百强企业。</span></div>
        </div>
        <div class="hyfl2" style="" id="t3">
            <div class="border">
                <a href="http://sz4a.cn/prj/sdhaiyang.html">
                    <img src="/Images/Uploads/20150408192237.jpg" width="1280" height="391" alt="山东海洋投资集团"></a>
            </div>
            <div class="png" style="background: #0075C2; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">山东海洋 - 中国首家以海洋经济为重点投资的大型国有企业</span></div>
        </div>
        <div class="hyfl2" style="" id="t4">
            <div class="border">
                <a href="http://sz4a.cn/prj/xinshijie.html">
                    <img src="/Images/Uploads/20150408192324.jpg" width="1280" height="391" alt="新世界集团"></a>
            </div>
            <div class="png" style="background: #D80C18; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">新世界集团 -&nbsp;新世界·新高度 20年跨国民企国际化之路</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t5">
            <div class="border">
                <a href="http://sz4a.cn/prj/wenhui.html">
                    <img src="/Images/Uploads/20150408105054.jpg" width="1280" height="391" alt="文汇地产集团"></a>
            </div>
            <div class="png" style="background: #b22222; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">文汇地产集团，世界级大型城市文化综合体投资运营商</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t6">
            <div class="border">
                <a href="http://sz4a.cn/prj/vcet.html">
                    <img src="/Images/Uploads/20150408102248.jpg" width="1280" height="391" alt="中国越南经济贸易合作区"></a>
            </div>
            <div class="png" style="background: #1B944B; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">中国越南经济贸易合作区 - 国家级境外经济合作区</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t7">
            <div class="border">
                <a href="http://sz4a.cn/prj/jiangong.html">
                    <img src="/Images/Uploads/20150408103239.jpg" width="1280" height="391" alt="深圳建工集团"></a>
            </div>
            <div class="png" style="background: #B01E32; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">深圳建工集团 -&nbsp;百亿级业绩企业之深圳崛起。</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t8">
            <div class="border">
                <a href="http://sz4a.cn/prj/zhongguojianzhu.html">
                    <img src="/Images/Uploads/20150408194135.jpg" width="1280" height="391" alt="中国建筑"></a>
            </div>
            <div class="png" style="background: #008CCF; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">中国建筑 -&nbsp;全球建筑行业领导者，世界500强企业。</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t9">
            <div class="border">
                <a href="http://sz4a.cn/prj/dongyu.html">
                    <img src="/Images/Uploads/20150406214417.jpg" width="1280" height="391" alt="东裕集团"></a>
            </div>
            <div class="png" style="background: #ff8c00; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">东裕集团-&nbsp;综合地产 · 金融服务</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t10">
            <div class="border">
                <a href="http://sz4a.cn/prj/zhonghang.html">
                    <img src="/Images/Uploads/20150408095901.jpg" width="1280" height="391" alt="中航装饰"></a>
            </div>
            <div class="png" style="background: #2E3E4E; font-size: 16px; height: 50px;">
                <span style="line-height: 50px; height: 50px;">
                    <div>
                        中航装饰集团 - &nbsp; 中国装饰百强企业品牌蜕变之道。
                    </div>
                </span>
            </div>
        </div>
        <div class="hyfl2" style="display: none" id="t11">
            <div class="border">
                <a href="http://sz4a.cn/prj/guanghong.html">
                    <img src="/Images/Uploads/20150408151433.jpg" width="1280" height="391" alt="广宏 koho mall"></a>
            </div>
            <div class="png" style="background: #591E56; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">广宏 koho mall -<strong>&nbsp;</strong>&nbsp;国际购物中心领跑者</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t12">
            <div class="border">
                <a href="http://sz4a.cn/prj/yuanpeng.html">
                    <img src="/Images/Uploads/20150408142420.jpg" width="1280" height="391" alt="远鹏装饰"></a>
            </div>
            <div class="png" style="background: #464647; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">远鹏装饰集团 -&nbsp;价值装饰倡导者，建筑大装饰综合服务商。</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t13">
            <div class="border">
                <a href="http://sz4a.cn/prj/zhonghaixin.html">
                    <img src="/Images/Uploads/20150406191506.jpg" width="1280" height="391" alt="中海信集团"></a>
            </div>
            <div class="png" style="background: #90181B; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">中海信集团 - 中国首创上市服务综合体，中小企业上市培育基地。</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t14">
            <div class="border">
                <a href="http://sz4a.cn/prj/zhongguonanshan.html">
                    <img src="/Images/Uploads/20150408145646.jpg" width="1280" height="391" alt="中国南山集团"></a>
            </div>
            <div class="png" style="background: #0000cd; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">中国南山集团 -&nbsp;中国第一家中外合资股份制企业。</span></div>
        </div>
        <div class="hyfl2" style="display: none" id="t15">
            <div class="border">
                <a href="http://sz4a.cn/prj/huabanli.html">
                    <img src="/Images/Uploads/20150408110610.jpg" width="1280" height="391" alt="花伴里集团"></a>
            </div>
            <div class="png" style="background: #b22222; font-size: 16px; height: 50px;"><span style="line-height: 50px; height: 50px;">花伴里集团-&nbsp;好房子.花伴里</span></div>
        </div>
        <div class="clear"></div>
        @* 部分客户 *@
        @Html.Partial("CustomerList")
    </div>
}