@Styles.Render("~/Content/kinMaxShow")

@section featured {
    <div id="Box">
        <div style="position: relative; width: 1280px;">
            <div id="kinMaxShow2" style="width: 100%; height: 294px; position: relative; overflow: visible; visibility: visible; display: block;">
                <div class="KMSPrefix_kinMaxShow_image_item">
                    <img src="/Images/Uploads/20150417193915.jpg" />
                </div>
                <div class="KMSPrefix_kinMaxShow_image_item">
                    <img src="/Images/Uploads/20150417193956.jpg" />
                </div>
            </div>
        </div>
        @Html.Partial("ProjectBanner")
        <div class="clear"></div>

        <div class="hyfl">
            <ul>
                <li style="padding-left: 160px; padding-right: 50px;"><a href="http://sz4a.cn/vi.html" class="hover">LOGO &amp; VI 设计</a></li>
                <li style="padding-right: 50px;"><a href="http://sz4a.cn/wangye.html" class="">网络&amp;新媒体</a></li>
                <li style="padding-right: 50px;"><a href="http://sz4a.cn/biaoshi.html" class="">标识指示系统</a></li>
                <li style="padding-right: 50px;"><a href="http://sz4a.cn/huace.html" class="">画册&amp;平面物料</a></li>
                <li style="padding-right: 50px;"><a href="http://sz4a.cn/kongjian.html" class="">专卖店&amp;商业空间</a></li>
            </ul>
        </div>

        <div class="zhongbiaolist" style="margin-top: 10px;">
            <!--图片特效开始-->

            <div class="zhongbiaoli" style="" id="t1">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410095114.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/dfnf.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/dfnf.html">东风南方集团</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="" id="t2">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410095324.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/jinzhong.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/jinzhong.html">金众地产集团</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="" id="t3">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410094029.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/xinshijie.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/xinshijie.html">新世界集团</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="width: 313px;" id="t4">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410094050.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/sdhaiyang.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/sdhaiyang.html">山东海洋投资集团</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="" id="t5">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410093938.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/guominjishu.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/guominjishu.html">国民技术</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="" id="t6">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150409094647.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/zlcaifu.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/zlcaifu.html">中联财富资产管理</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="" id="t7">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150409162541.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/cplp.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/cplp.html">CPLP</a></dd>
                </dl>
            </div>
            <div class="zhongbiaoli" style="width: 313px;" id="t8">
                <dl>
                    <dt style="background: url(/Images/Uploads/20150410094004.jpg)">
                        <div class="mask" style="opacity: 0;">
                            <a href="http://sz4a.cn/prj/apstar.html">
                                <div class="mask-bg"></div>
                            </a>
                        </div>
                    </dt>
                    <dd>
                        <a href="http://sz4a.cn/prj/apstar.html">亚太卫星APSTAR</a></dd>
                </dl>
            </div>
            
        </div>
        <div class="clear"></div>
        @* 部分客户 *@
        @Html.Partial("CustomerList")
    </div>
}