@section featured {
    <div id="Box" style="font-size: 16px; color: #000000; line-height: 25px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="1280">
            <tbody>
                <tr>
                    <td>
                        <img height="294" src="/Images/Uploads/service_banner.png" width="1279">
                        <p class="service_title" style="font-size: 25px;">
                            SERVICE服务
                        </p>
                        <p class="about_content">
                            我们立足于品牌的整合设计和需求，探索策略设计，以协助企业建立和管理品牌为核心使命，帮助企业在市场营销中获得具有强大价值力的品牌形象的支持，提升品牌价值以及科学的品牌建设理念和管理解决方案。
                        </p>
                        <img src="/Images/Uploads/service_pic.png">
                        <p class="about_line" style="margin-top: 60PX; margin-bottom: 60PX;">
                            &nbsp;
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="4" valign="top">
                                        <img height="167" src="/Images/Uploads/service_pic2.png" width="580"></td>
                                    <td height="300" valign="top">
                                        <dl class="service_dl">
                                            <dt>品牌战略咨询</dt>
                                            <dd>品牌规划</dd>
                                            <dd>产品规划</dd>
                                            <dd>品牌架构梳理</dd>
                                            <dd>品牌口号</dd>
                                            <dd>品牌定位/故事</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="service_line" valign="top" width="415">
                                        <dl class="service_dl">
                                            <dt>品牌设计</dt>
                                            <dd>公司与产品中英文命名</dd>
                                            <dd>品牌标志（logo）设计</dd>
                                            <dd>品牌vi设计</dd>
                                            <dd>产品包装设计</dd>
                                            <dd>品牌推广物料设计</dd>
                                            <dd>（画册、海报、折页等）</dd>
                                        </dl>
                                    </td>
                                    <td width="85">&nbsp;</td>
                                    <td class="service_line" valign="top" width="465">
                                        <dl class="service_dl">
                                            <dt>网络建设与新媒体应用</dt>
                                            <dd>网站规划设计与程序开发</dd>
                                            <dd>互动体验网站设计</dd>
                                            <dd>APP与移动网站开发</dd>
                                            <dd>视频拍摄与制作</dd>
                                            <dd>微电影创意制作</dd>
                                            <dd>微信/微博帐号运营</dd>
                                            <dd>全网seo</dd>
                                            <dd>微店/微商运营规划</dd>
                                        </dl>
                                    </td>
                                    <td width="85">&nbsp;</td>
                                    <td class="service_line" valign="top">
                                        <dl class="service_dl">
                                            <dt>商业空间设计</dt>
                                            <dd>SI系统规划与设计</dd>
                                            <dd>办公空间规划与设计</dd>
                                            <dd>企业展厅规划与设计</dd>
                                            <dd>展览会规划与设计</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="service_line" valign="top" width="415">
                                        <dl class="service_dl">
                                            <dt>导示规划与设计</dt>
                                            <dd>商业综合体&amp;地产导示系统设计</dd>
                                            <dd>酒店&amp;办公导示系统设计</dd>
                                            <dd>城市&amp;区域导示系统设计</dd>
                                            <dd>厂区导示系统设计</dd>
                                        </dl>
                                    </td>
                                    <td width="85">&nbsp;</td>
                                    <td class="service_line" valign="top" width="465">
                                        <dl class="service_dl">
                                            <dt>公关活动策划与执行</dt>
                                            <dd>发布会</dd>
                                            <dd>周年庆典</dd>
                                            <dd>年终企业晚会等</dd>
                                            <dd>楼盘暖场</dd>
                                            <dd>高端会议</dd>
                                            <dd>VCR拍摄与制作</dd>
                                        </dl>
                                    </td>
                                    <td width="85">&nbsp;</td>
                                    <td class="service_line" valign="top">
                                        <dl class="service_dl">
                                            <dt>制作业务</dt>
                                            <dd>导示标识制作、安装</dd>
                                            <dd>展览、展会、展厅搭建</dd>
                                            <dd>平面印刷品印刷</dd>
                                            <dd>包装盒印刷与制作</dd>
                                            <dd>办公用品设计与制作</dd>
                                            <dd>礼品设计与制作</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
